<div class="col-sm-4 offset-sm-4 text-center">
  <h2 class="mb-5">Sign up</h2>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <% if @user.errors.any? %>
      <div class="alert alert-info">
        <%= devise_error_messages! %>
      </div>
    <% end %>

    <div class="field">
      <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "Email", class: "form-control mb-3" %>
    </div>

    <div class="field">
      <% if @minimum_password_length %>
      <em>(<%= @minimum_password_length %> characters minimum)</em>
      <% end %><br />
      <%= f.password_field :password, autocomplete: "off", placeholder: "Password", class: "form-control mb-3" %>
    </div>

    <div class="field">
      <%= f.password_field :password_confirmation, autocomplete: "off", placeholder: "Password confirmation", class: "form-control mb-3" %>
    </div>

    <div class="actions">
      <%= f.submit "Sign up", class: "btn btn-primary mb-3" %>
    </div>
  <% end %>

  <%= render "devise/shared/links" %>
</div>
