<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @post.title %>
  <strong>User:</strong>
  <%= @post.user %>
</p>


<div class="bg-light mb-5">
  <%= simple_format(@post.content, class: 'p-4') %>
</div>
  
<strong>Comments:</strong>
<%- @post.comments.each do |comment| %>
  <blockquote class="blockquote font-italic">
    <%= simple_format(comment.content) %>
    <footer class="blockquote-footer"><%= comment.user %></footer>
  </blockquote>
<% end %>

<p>Add comment:
<%= render 'comments/form' %></p>

<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>
