<!DOCTYPE html>
<html>
  <head>
    <title>TechsistersForum</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container">
        <%= link_to 'Techsisters Forum', root_path, class: 'navbar-brand'%>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav ml-md-auto">
            <% if user_signed_in? %>
              <li class="nav-item active">
                <%= link_to 'All posts', posts_path, class: 'nav-link' %>
              </li>
              <li class="nav-item">
                <%= link_to 'Logout', destroy_user_session_path, class: 'nav-link' %>
              </li>
            <% else %>
              <li class="nav-item">
                <%= link_to 'Login', new_user_session_path, class: 'nav-link' %>
              </li>
            <% end %>
          </ul>
        </div>
      </div>
    </nav>
    <div class="container">
      <div class="my-3">
        <% if notice.present? %>
          <div class="alert alert-info">
            <%= notice %>
          </div>
        <% end %>
        <% if alert.present? %>
          <div class="alert alert-danger">
            <%= alert %>
          </div>
        <% end %>
      </div>
      <%= yield %>
    </div>
  </body>
</html>
